<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="/">The Post</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a href="/" class="nav-link mr-3">Home</a>
    </li>
    <li class="nav-item">
      <a href="/saved" class="nav-link mr-3">Saved Articles</a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a href="/scrape" class="btn btn-info mr-3 scraper">Scrape New Articles!</a>
    </li>
    <li>
      <a href="/delete" class="btn btn-danger mr-3 delete">Delete All Articles</a>
    </li>
  </ul>
</nav>

<div class="jumbotron text-center bg-secondary text-light">
  <div class="caption">
    <h1>Saved Articles</h1>
    <h4>Notes/Comments</h4>
  </div>
</div>

<div class="container-fluid">
  <div class="articles">
    <div class="card">
      {{#each saved}}
      <div class="card-body bg-secondary text-white art-div">
        <h5><a class="card-title text-info" + href="{{this.link}}">{{this.headline}}</a></h5>
        <p class="card-text">{{this.summary}}</p>
        <button class="btn btn-warning" id="note-display" data-id="{{this._id}}" data-toggle="modal" data-target="#ModalCenter">Notes</button>
        <div class="btn btn-success float-right delete" id="unsave" data-id="{{this._id}}">Remove Saved Articles</div>
      </div>
      <hr>
      {{/each}}
      <p id="deleteHeader">{{deleteMessage}}</p>
    </div>
  </div>
</div>

<div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item p-5"></li>
        </ul>
        <form>
          <div class="form-group">
            <label for="note-text" class="col-form-label">Comment:</label>
            <textarea name="form-control" id="note-text" cols="60" rows="5"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" id="save-note">Save Note</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>